<div class="card mb-3">
    <img src="assets\images\beyond-burger.jpg" class="card-img-top beyond-burger" alt="beyond burger">
    <div class="card-body">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{titleLeft}}</h5>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Beyond Burger
                            <button class="btn btn-danger">Devour it!</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Bean Burger
                            <button class="btn btn-danger">Devour it!</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Hamburger
                            <button class="btn btn-danger">Devour it!</button>
                        </li>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">

                        {{#if titleCenter}}
                        Time to {{titleCenter}}
                        {{else}}
                        Could not get "titleCenter"
                        {{/if}}

                        </h5>
                    <p class="card-text">Here is where you can input the name of a burger you want to eat.  I hope you are hungry because it is burger time!!!!
                        {{#each timing}}
                        <p>
                            {{monday}},
                            {{tuesday}}
                        </p>
                        {{/each}}
                    </p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Add a tasty boiga!!!!"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon2">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{titleRight}}</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Steak Burger</li>
                        <li class="list-group-item">Turkey Burger</li>
                        <li class="list-group-item">Whatever Burger</li>
                        <li class="list-group-item">Nightmare Burger</li>
                        <li class="list-group-item">Secret Burger</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>